.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(300deg, rgba(255,246,216,1) 0%, rgba(139,232,221,1) 12%, rgba(133,201,230,1) 69%);
  background-size: 400% 400%;
  animation: gradient 5s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
    
  50% {
    background-position: 100% 50%;
  }
    
  100% {
    background-position: 0 50%;
  }
}

.logo_wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
}

.logo_wrapper img {
  max-width: 170px;
  max-height: 140px;
  width: 40vw;
  animation: wings 0.7s ease-out infinite alternate-reverse;
}

@keyframes wings {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(30deg);
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.socials i {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 23px;
  height: 23px;
  filter: invert(1) brightness(0.45);
  transition: all 0.1s;
}

.socials i:hover {
  transform: translateY(-5px) scale(1.1);
  filter: invert(1) brightness(0);
}

.ig {
  background: url(../assets/ig-icon.svg);
  animation: bounce 0.3s ease-in-out alternate 0.3s 2 forwards;
}

.fb {
  background: url(../assets/fb-icon.svg);
  animation: bounce 0.3s ease-in-out alternate 0.7s 2 forwards;
}

.wa {
  background: url(../assets/w-icon.svg);
  animation: bounce 0.3s ease-in-out alternate 0.5s 2 forwards;
}

.mail {
  background: url(../assets/m-icon.png);
  animation: bounce 0.3s ease-in-out alternate 0.9s 2 forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
  }
}